@import 'styles/mixins';
@import 'styles/vars';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
  border-bottom: 1px solid $color-black;
}

.icon {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  color: $color-black;
}

.editBar,
.historyBar {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}