/**
 * Black
 */
$color-black: #000000;

/**
 * White
 */
$color-white: #FFF;

/**
 * Error
 */
$color-error-40: #F7AFA0;
$color-error-60: #F48870;
$color-error-80: #F06040;
$color-error-primary: #EC3811;
$color-error-red: #CB4141;


/**
 * Other
 */
$color-placeholder: #f5f5f5;
