@import 'styles/mixins';
@import 'styles/vars';

.wrapper {
  display: flex;
  align-items: center;
  padding: 1.6rem;
  border-bottom: 1px solid $color-black;
}

.block {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.title {
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: $color-black;
}

.input {
  max-width: 4.3rem;
}